{% include "main/navbar.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/tagcreator.css" %}">
{% endblock %}

<title>Generating Tests</title>

<script src="{% static 'js/generatingtests.js' %}"></script>


<body onload="optionCreator()">
<div class="wrapper">
    <div class="container mt-5">
        <form>
            <div class="card">
                <div class="row">
                    <div class="col-sm ml-5 mt-5 mb-5" style="border-right: 1px solid black;">
                        <h5 align="center">Exam Makeup</h5>
                        <div class="row">
                            <div class="row">
                                <fieldset id="group1">
                                   <div class="col-sm">
                                       <input type="checkbox" name='True/False'>  True/False<br>
                                       <input type="checkbox" name='Multiple'>  Multiple Choice<br>
                                       <input type="checkbox" name='Matching'>  Matching<br>
                                       <input type="checkbox" name='FillInB'>  Fill In the Blank<br>
                                       <input type="checkbox" name='Short'>  Short Essay<br>
                                       <input type="checkbox" name='Essay'>  Essay<br>
                                       <input type="checkbox" name='FillInF'>  Fill In the Formula<br>
                                   </div>
                                </fieldset>

                                <fieldset id="group2">
                                   <div class="col-sm">
                                       <select id="True/False"></select><br>
                                       <select id="MultiChoice"></select><br>
                                       <select id="Matching"></select><br>
                                       <select id="FillB"></select><br>
                                       <select id="Short"></select><br>
                                       <select id="Essay"></select><br>
                                       <select id="FillF"></select><br>
                                   </div>
                                </fieldset>
                             </div>
                        </div>
                    </div>

                    <!-- This section is for the exam information --->
                    <div align="center" class="col-sm mt-5 mb-5">
                        <h5>Exam Info</h5>
                        <input onfocus="this.value=''" id="What Semester?" placeholder="What Semester?"><br>
                        <input onfocus="this.value=''" id="What Year?" placeholder="What Year?"><br>
                        <input onfocus="this.value=''" id="What Exam Number?" placeholder="What Exam Number?"><br>
                        <input onfocus="this.value=''" id="What class?" placeholder="What class?"><br>
                    </div>

                    <!-- This section is for the tag selection -->
                    <div align="center" class="col-sm mr-5 mt-5 mb-5" style="border-left: 1px solid black;">
                        <h5 style="text-center"> Tag Search </h5>
                        <input class="form-control" id="myInput" type="text" placeholder="Search...">
                        <div id="myDIV">
                            <form>
                                {% if all_tags %}
                                {% for tag in all_tags %}
                                <ul><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
                                            value="{{ tag.tag_id}}" id="{{ tag.tag_id }}" onclick="passingId({{ tag.tag_name }})"
                                            style="display:none; margin-top:15px;"> {{ tag.tag_name }} </button></ul>
                                {% endfor %}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
<!--            <form name="myform" action="handle-data.php">-->
<!--            Search: <input type='text' name='query' />-->
<!--            <a href="javascript: submitform()">-->
<!--            <img src="go.gif" width="33" height="19" border="0" />-->
<!--            </a>-->
<!--            </form>-->

            <!--- This section is for the exam generate button -->
            <div class="card">
                <div class="row mt-5 mb-5">
                    <div class="col-sm">

                    </div>
                    <div class="col-sm" style="margin:0,auto">
                        <div class="row">
                            <h2 style="margin: 0 auto;">Generate test here</h2>
                        </div>
                        <div class="row">
                            <input type="submit" onclick="submitform()" style="margin: 15px auto;" value="Generate">
                        </div>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<!--<script>-->
<!--var cars = ["1", "2", "3", "4", "5", "6"];-->
<!--var text = "";-->
<!--var i;-->
<!--for (i = 0; i < cars.length; i++) {-->
<!--  text += cars[i] + "<br>";-->
<!--}-->
<!--document.getElementById("demo").innerHTML = text;-->
<!--</script>-->