
<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<head style="min-height: 819px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--        <a href="/home"><img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre"></a>-->

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/creatingquestion">Create New Questions
                    <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/generatingtests">Generate A Test
                        <div style="display: inline-block;" id="navbar-unread-badge">
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/questionlibarary">Question Library
                        <div style="display: inline-block;" id="navbar-unread-badge">
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/testlibarary">Test Library
                        <div style="display: inline-block;" id="navbar-unread-badge">
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/tagcreator">Tag Creator
                        <div style="display: inline-block;" id="navbar-unread-badge">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</head>

